<div class="container coasters-index">

  <h1 style="font-weight: 100">{{name}}</h1>

  <h4>Descripción</h4>
  <p>{{description}}</p>
  <p><strong>Longitud: </strong> {{length}}m | <strong>Inversiones: </strong> {{inversions}}</p>

  <hr>

  <h5>Sobre el parque</h5>
  <p><strong>Nombre</strong>: {{park.name}}</p>
  <p><strong>Descripción</strong>: {{park.description}}</p>

  <a href="/coasters" class="btn btn-dark">Volver</a>

  <form action="/coasters/delete?id={{_id}}" method="POST">
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </form>

  <a href="/coasters/edit?id={{_id}}" class="btn btn-info">Editar</a>

</div>